.category-cnt {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  margin-top: 10px;
}

.widget-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: -20px;
}

.bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  flex: 0 0 76%;
}

.Logo {
  border: 2px solid #e9eded;
  padding: 8px;
  background-color: white;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.colon {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}


.widget {
  border: 20px solid #f0f0f5;
  background-color: #fafafa;
  padding: 10px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.button {
  color: #5e6c76;
  border: 2px solid #e9eded;
}

.emptyCardBtn {
  color: #5e6c76;
  background-color: #fafafa;
}

.empty-card {
  border: 20px double #f0f0f5;
}

.container {
  height: 100vh;
}
