

.app {
    font-family: "Poppins";
}

.Dashboard {
    background-color: #F0F5FA;
    height: 100%;
    width: 100%;
}

.button {
    background-color: white;
    padding: 8px;
    border-radius: 10px;
    border-color: lightgray;
    color: #646f7d;
    font-weight: 500;
}